/*** Style Definitions ***/
body {
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, sans-serif;
	font-size:0.8em;
	font-weight:300;
	color:#000;
}
* { margin:0; padding:0; }
a {
	color:#999;
	text-decoration:none;
	outline: none;
}
a:hover {
	text-decoration:underline;
}
li { list-style:none; }

h2 {
	height:40px;
	font-size:1.8em;
	font-weight:300;
	margin:10px 0 20px 10px;
	padding:5px 0 0 30px;
	background:url(../images/icon.gif) 0 0 no-repeat;
}
h3 {
	font-size:1.4em;
	font-weight:300;
	margin: 0 0 5px 0;
}

#main {
	position:relative;
	width:600px;
	margin:0 auto;
}

#work {
	width:500px;
	height:400px;
}
#work h3 {
	margin: 0 0 10px 0;
}
#work li {
	float:left;
	width:100px;
	margin: 0 50px 30px 0;
}
#work li a {
	color:#333;
}
#work li a img {
	border:#F0F0F0 1px solid;
	padding:0;
	margin:0 0 5px 0;
}
#contact {
	width:600px;
	height:400px;
}
